:root {
  --color-light: #f9f7f7;
  --color-blue-light: #dbe2ef;
  --color-blue-medium: #3f72af;
  --color-blue-dark: #112d4e;

  --color-blue-dark-lighter: #173d69;

  --color-white: #ffffff;
  --color-dark: #333333;
  --color-black: #000000;

  --color-success: #18b418;
  --color-info: #333333;
  --color-danger: #e02020;
}
