@import-normalize;
@import 'shared/utils';

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('./assets/open-sans-v18-latin-regular.woff2') format('woff2'),
    url('./assets/open-sans-v18-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('./assets/open-sans-v18-latin-italic.woff2') format('woff2'),
    url('./assets/open-sans-v18-latin-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('./assets/open-sans-v18-latin-700.woff2') format('woff2'),
    url('./assets/open-sans-v18-latin-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('./assets/open-sans-v18-latin-700italic.woff2') format('woff2'),
    url('./assets/open-sans-v18-latin-700italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  padding: Max(2%, 2rem) 5%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: Var(--color-background);
  color: Var(--color-text);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: var(--color-blue-light);
}
